altgraph==0.17.4
certifi==2024.8.30
charset-normalizer==3.4.0
click==8.1.7
idna==3.10
importlib-metadata==8.5.0
linkify-it-py==2.0.3
macholib==1.16.3
markdown-it-py==3.0.0
mdit-py-plugins==0.4.2
mdurl==0.1.2
packaging==24.1
platformdirs==4.3.6
pygments==2.18.0
pyinstaller==6.11.0
pyinstaller-hooks-contrib==2024.9
requests==2.32.3
rich==13.9.4
textual==0.85.1
typing-extensions==4.12.2
uc-micro-py==1.0.3
urllib3==2.2.3
zipp==3.20.2
